# Subsetting and Descriptive Stats

## Before your start:
   - Remember that you just need to do one of the challenges.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in IronHack's database.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly: enjoy the process!
   
#### Import all the necessary libraries here:

In [3]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt

# [ONLY ONE MANDATORY] Challenge 1
#### In this challenge we will use the `Temp_States`  dataset. 

#### First import it into a dataframe called `temp`.

In [4]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Display the first few rows of the dataframe to verify the import
print(temp.head())

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444

#### Print `temp`.

In [5]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Print the entire dataframe
print(temp)

         City        State  Temperature
0         NYC     New York    19.444444
1      Albany     New York     9.444444
2     Buffalo     New York     3.333333
3    Hartford  Connecticut    17.222222
4  Bridgeport  Connecticut    14.444444
5      Treton   New Jersey    22.222222
6      Newark   New Jersey    20.000000

#### Explore the data types of the *temp* dataframe. What types of data do we have? Comment your result.

In [6]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Display the data types of each column
print(temp.dtypes)

# Alternatively, you can use the info() method to get more detailed information
print(temp.info())

City            object
State           object
Temperature    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   City         7 non-null      object
 1   State        7 non-null      object
 2   Temperature  7 non-null      float64
dtypes: float64(1), object(2)
memory usage: 300.0+ bytes
None

We have a combination of numeric data (Year and Temp), categorical data (State and Month), and maybe time-related data (Year and Month), according to these data kinds. For datasets with time-series or geographically dispersed data, this combination is usual. Comprehending various data kinds is essential to carrying out suitable data transformations and analysis.

#### Select the rows where state is New York.

In [8]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Select the rows where the state is New York
new_york_data = temp[temp['State'] == 'New York']

# Display the result
print(new_york_data)

      City     State  Temperature
0      NYC  New York    19.444444
1   Albany  New York     9.444444
2  Buffalo  New York     3.333333

#### What is the average temperature of cities in New York?

In [12]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Display the column names to verify them
print(temp.columns)

# Check for the correct column names and adjust if necessary
# Select the rows where the state is New York
new_york_data = temp[temp['State'] == 'New York']

# Ensure the column name matches exactly, including case
if 'Temp' in new_york_data.columns:
    # Calculate the average temperature
    average_temperature_new_york = new_york_data['Temp'].mean()

    # Display the average temperature
    print("The average temperature of cities in New York is:", average_temperature_new_york)
else:
    print("The column 'Temp' does not exist in the dataset.")

Index(['City', 'State', 'Temperature'], dtype='object')
The column 'Temp' does not exist in the dataset.

#### Which states and cities have a temperature above 15 degrees Celsius?

In [14]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Display the column names to verify them
print(temp.columns)

# Select the rows where the temperature is above 15 degrees Celsius
temp_above_15 = temp[temp['Temperature'] > 15]

# Display the states and cities with a temperature above 15 degrees Celsius
print(temp_above_15[['State', 'City', 'Temperature']])

Index(['City', 'State', 'Temperature'], dtype='object')
         State      City  Temperature
0     New York       NYC    19.444444
3  Connecticut  Hartford    17.222222
5   New Jersey    Treton    22.222222
6   New Jersey    Newark    20.000000

#### Now, return only the cities that have a temperature above 15 degrees Celsius.

In [15]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Select the rows where the temperature is above 15 degrees Celsius
temp_above_15 = temp[temp['Temperature'] > 15]

# Get the unique cities with a temperature above 15 degrees Celsius
cities_above_15 = temp_above_15['City'].unique()

# Display the cities
print("Cities with a temperature above 15 degrees Celsius:")
print(cities_above_15)

Cities with a temperature above 15 degrees Celsius:
['NYC' 'Hartford' 'Treton' 'Newark']

#### Which cities have a temperature above 15 degrees Celcius and below 20 degrees Celsius?

**Hint**: First, write the condition. Then, select the rows.

In [17]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Define the condition for temperature range
condition = (temp['Temperature'] > 15) & (temp['Temperature'] < 20)

# Select the rows that satisfy the condition
temp_between_15_and_20 = temp[condition]

# Get the unique cities with temperature between 15 and 20 degrees Celsius
cities_between_15_and_20 = temp_between_15_and_20['City'].unique()

# Display the cities
print("Cities with a temperature above 15 degrees Celsius and below 20 degrees Celsius:")
print(cities_between_15_and_20)

Cities with a temperature above 15 degrees Celsius and below 20 degrees Celsius:
['NYC' 'Hartford']

#### Find the mean and standard deviation of the temperature of each state.

In [18]:
import pandas as pd

# Replace 'Temp_States.csv' with the path to your dataset file
temp = pd.read_csv('Temp_States.csv')

# Calculate mean and standard deviation of temperature for each state
state_stats = temp.groupby('State')['Temperature'].agg(['mean', 'std'])

# Display the mean and standard deviation for each state
print("Mean and Standard Deviation of Temperature for Each State:")
print(state_stats)

Mean and Standard Deviation of Temperature for Each State:
                  mean       std
State
Connecticut  15.833333  1.964186
New Jersey   21.111111  1.571348
New York     10.740741  8.133404

# [ONLY ONE MANDATORY]  Challenge 2

#### Load the `employees` dataset into a dataframe. Call the dataframe `employees`.

In [ ]:
# your code here

#### Explore the data types of the `employees` dataframe. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

#### What's the average salary in this company?

In [ ]:
# your code here

#### What's the highest salary?

In [ ]:
# your code here

#### What's the lowest salary?

In [ ]:
# your code here

#### Who are the employees with the lowest salary?

In [ ]:
# your code here

#### Find all the information about an employee called David.

In [ ]:
# your code here

#### Could you return only David's salary?

In [ ]:
# your code here

#### Print all the rows where job title is associate.

In [ ]:
# your code here

#### Print the first 3 rows of your dataframe.
**Tip**: There are 2 ways to do it. Do it both ways.

In [ ]:
# Method 1
# your code here

In [ ]:
# Method 2
# your code here

#### Find the employees whose title is associate and whose salary is above 55.

In [ ]:
# your code here

#### Group the employees by number of years of employment. What are the average salaries in each group?

In [ ]:
# your code here

####  What is the average salary per title?

In [ ]:
# your code here

####  Find the salary quartiles.

In [ ]:
# your code here

#### Is the mean salary different per gender?

In [ ]:
# your code here

#### Find the minimum, mean and maximum of all numeric columns for each company department.

In [ ]:
# your code here

#### Bonus Question:  for each department, compute the difference between the maximum and the minimum salary.
**Hint**: try using `agg` or `apply` combined with `lambda` functions.

In [ ]:
# your code here

# [ONLY ONE MANDATORY] Challenge 3
#### Open the `Orders` dataset. Name your dataset `orders`.

In [ ]:
# your code here

#### Explore your dataset by looking at the data types and summary statistics. Comment your results.

In [ ]:
# your code here

In [ ]:
"""
your comments here
"""

####  What is the average purchase price?

In [ ]:
# your code here

#### What are the highest and lowest purchase prices?

In [ ]:
# your code here

#### Select all the customers from Spain.
**Hint**: Remember that you are not asked to find orders from Spain but customers. A customer might have more than one order associated.

In [ ]:
# your code here

#### How many customers do we have in Spain?

In [ ]:
# your code here

#### Select all the customers who have bought more than 50 items.
**Hint**: Remember that you are not asked to find orders with more than 50 items but customers who bought more than 50 items. A customer with two orders of 30 items each should appear in the selection.

In [ ]:
# your code here

#### Select orders from Spain that include more than 50 items.

In [ ]:
# your code here

#### Select all free orders.

In [ ]:
# your code here

#### Select all orders whose description starts with `lunch bag`.
**Hint**: use string functions.

In [ ]:
# your code here

#### Select all `lunch bag` orders made in 2011.

In [ ]:
# your code here

#### Show the frequency distribution of the amount spent in Spain.

In [ ]:
# your code here

#### Select all orders made in the month of August.

In [ ]:
# your code here

#### Find the number of orders made by each country in the month of August.
**Hint**: Use value_counts().

In [ ]:
# your code here

#### What's the  average amount of money spent by country?

In [ ]:
# your code here

#### What's the most expensive item?

In [ ]:
# your code here

#### What is the average amount spent per year?

In [ ]:
# your code here